* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  perspective: 1000px;
  background-color: #000;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.c-player {
  transform-style: preserve-3d;
  display: block;
  position: relative;
  background-color: #0c0c0c;
  width: 60%;
  min-height: 50%;
  height: 50%;
  margin: 20px auto;
  padding: 50px;
  border: solid 3px;
  border-color: rgb(182, 4, 242);
  border-radius: 24px;
}

.c-player > h4 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  transition: all 0.5s ease-out;
}

.c-player > p {
  color: #aaa;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  transition: all 0.5s ease-out;
}

.c-player > p span {
  font-weight: 400;
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}

.c-player--details .details-img img {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}

.c-player--details .details-img:after {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
  border: 3px dashed rgb(182, 4, 242);
}

.c-player--details .details-title {
  color: #eee;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
}

.c-player--details .details-artist {
  color: #aaa;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  transition: all 0.5s ease-out;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition: all 0.5s ease-out;
}

.play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(182, 4, 242);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.play-btn:hover {
  background-color: rgb(145, 2, 192);
}

.random-btn {
  margin: 0 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.random-btn:hover {
  color: rgb(182, 4, 242);
}

.retry-btn {
  margin: 0 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.retry-btn:hover {
  color: rgb(182, 4, 242);
}

.skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.skip-btn:hover {
  color: rgb(182, 4, 242);
}
